.header {
    color: white;
    height: 10rem;
    line-height: 2.5rem;
    width: 100%;
    margin-bottom: 2rem;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-banner);
}

.footer {
    color: white;
    height: 4rem;
    width: 100%;
    margin-top: auto;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-footer);
}

.article-ov-container {
    border: 2px;
    
}

.article-ov-head {

}

.article-ov-content {

}
