.header {
    height: 10rem;
    line-height: 2.5rem;
    width: 100%;
    margin-bottom: 2rem;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--which-dumb-color-do-you-want-for-this);
}

.footer {
    height: 4rem;
    width: 100%;
    margin-top: 2rem;
    position: fixed;
    bottom: 0;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--which-dumb-color-do-you-want-for-this);
}
