@import 'base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-banner: #5856cf;
    --color-card: #4D4BDF;
    --color-header-1: #5ac4bd;
    --color-header-2: #5aaec4;
    --color-bg: #f9f9f9;
    --color-footer: #1b1b1b;
}

body {
    color: #000;
}
